.services-box{
    margin: 1rem;
    padding: 0;
    border-radius: 1rem;
    padding-bottom:1rem;
    border: 1px solid var(--color-secondary);
    height: auto;
   padding: 30px;

}
.services-box img{
    width: 60px;
    background: transparent;
    float: right;
    margin-top: -50px;
    margin-bottom: 10px;  
}
.services-box h5{
    color: var(--color-bg);
    background: var(--color-primary);
    padding: 21px 30px;
    border-radius: 0 0 1rem 1rem;
}
.flex{
    display: flex;
}

.services-box p{
    color: #fff;
    list-style: none;
    margin: 2rem 0;
   
}
.services-box p::before{
    content: '';
    margin-right:8px;
}
@media(max-width:300px){
    .services-box img{
        width: 200px;
        background: white;   
    }
}
