button {
    padding: 10px 30px;
    background: transparent;
    outline: none;
    border: 1px solid var(--color-primary);
    margin: 30px;
    color: black;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-top: -100px;
}

.content {
    display: none;
}
.show-content {
    display: block;
}

.web-rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    gap: 30px;
    margin-top: 30px;

}

.web-rows img {
    cursor: pointer;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}

.web-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.web-details p {
    font-weight: normal;
    font-size: 18px; 
    text-align: left;
}
.web-rows img {
    width: 340px;
    height: 200px;

}
.anchor{
    text-decoration: none;
    font-size: 16px;
    padding: 2px 6px;
    border: 1px solid var(--color-primary);
    color: #000;
}

@media(max-width:900px) {
    .web-rows {
        grid-template-columns: 1fr;
        align-items: flex-start;
        margin: 0;
        max-width: 300px;
        margin-top: 70px;
        align-items: center;
        padding:0 20px;
    }

    .web-rows img {
        width: 300px;
        height: 180px;

    }

    button {
        font-size: 10px;
        padding: 0;
        width: 100px;
        margin: 0 2px;

    }

    .web-row-container {
        display: flex;
        flex-direction: column;
    }

    .web-details {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

}
@media(max-width:300px){
    .web-rows img {
        width: 240px;
        height: 130px;

    }
}