.portfolio-column{
    padding: 24px;
}
.porfolio-outer{
    background: var( --color-bg-variant);
    border-radius:1rem ;
    padding: 4px;
    margin:2rem;
}
.portfolio-column img{
    width: 100%;
    border-radius: 1rem;
}
.portfolio-column p{
    text-align: left;
    margin: 10px 0;
    color: #fff;
}
.portfolio-btn a:nth-child(2){
    padding:5px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    color: var(--color-primary);
    text-decoration: none;
    text-align: center;
    font-style: 16px;
}
.portfolio-column-1 img{
    height: 50vh;

}
.portfolio-btn{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.portfolio-btn a:nth-child(1){
    padding:5px;
    background:var(--color-primary) ;
    border: 1px solid transparent;
    border-radius: 6px;
    color: var(--color-bg);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
.portfolio-btn a:nth-child(2):hover{
    background: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    color: var(--color-primary);
}