.quick-links{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.quick-links a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: 0.5s;

}
.quick-links a:hover{
    color: white;
}
.footer{
    background: var(--color-primary);
    padding: 2rem;
}
.footer-social-icon{
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.footer-social-icon .icon{
    font-size: 32px;
    color: #fff;
   
    padding: 5px;
    border-radius: 6px;
}
@media (max-width:768px){
    .quick-links{
        display: flex;
        gap:2rem;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        flex-direction: column;
    }
    .footer-social-icon{
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }

}
