nav {
    z-index: 2;
    padding: 0.7rem 1.7rem;
    display: flex;
    top: 0;
    position: fixed;
    background: var(--color-primary);
    width: 100%;
    right: 0;
    gap: 1rem;
    float: right;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px;

}
nav a img {
    width: 30px !important;
}

.nav-left p {
    font-size: 24px;
    flex: 1;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    background: transparent;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
}



.bars {
    color: black;
    font-size: 24px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    display: none;
}

@media(max-width:900px) {

    .nav-right {
        display: flex;
        align-items: center;
        width: 15rem;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
        background: white;
        gap: 0px;
        text-align: left;
        align-items: flex-end;
        padding: 0 10px;
        z-index: -1;
        background-color: var(--color-primary) !important;
    }
   

    .hide-navright {
        display: none;
    }

    nav {
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
        padding: 10px 20px;
        background-color: var(--color-primary) !important;
    }

    .bars {
        display: block;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
    }

    .nav-left a {
        font-size: 18px;

    }

    .nav-left a,
    .nav-right a {
        font-size: 18px;
    }

    .bars {
        height: 28px;
        width: 28px;
        padding: 3px;
    }
}

@media(max-width:300px) {

    .nav-left a,
    .nav-right a {
        font-size: 15px;
    }

    .bars {
        height: 22px;
        width: 22px;
        padding: 3px;
    }
}